input[type="checkbox"],button,input[type="radio"],input[type="text"],input[type="password"]{
  outline: none;
  -webkit-appearance: none;
}
.App{
  position: relative;
  margin: 0 auto;
  max-width: 750px;
}
.App .inputWrapper{
  margin-left: 300px;
  margin-bottom: 20px;
}
.todolist{
  margin-left: 300px; 
  
}
.App > .todolist > li{
  font-size: 1.2em;
  border-bottom: 1px solid #ededed;
}
.btn{
  border: none;
  font-size: 20px;
  background: #f59f9b;
  color: #fff;
  padding: 8px 10px;
  box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.19);
}
.App .signOut{
  margin-left: 20px;
}

.App h1{
  color: #5bddc5;
  font-weight: 300;
  text-align: center;
}
.calendar{
  position: absolute;
  top: 80px;
  left: 20px;
}
@media screen and (max-width: 450px){
  .App{
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  .App .inputWrapper,.todolist{
    margin: 0 auto 20px;
  }
  .todoInput{
    width: 265px;
  }
  .todo-item{
    width: 265px;
  }
  .calendar{
    position: relative;
    margin: 10px auto 20px;
    top: 0;
    left: 0;
  }
}